In [6]:
!pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to c:\users\90535\appdata\local\temp\pip-req-build-i3o99v1k
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit e09aea70e74583f58540aeb584c089813cca547b
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests[socks] in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from snscrape==0.4.3.20220107.dev66+ge09aea7) (2.28.1)
Requirement already satisfied: lxml in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from snscrape==0.4.3.20220107.dev66+ge09aea7) (4.9.1)
Requirement already satisfied: beautifulsoup4 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from snscrape==0.4.3.20220107.dev66+ge09aea7) (4.11.1)
Requirement already satisfied: filelock in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from snscrape==0.4.3.20220107.dev66+ge09aea7) (3.8.0)
Requirement already satisfied: pytz in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from snscrape==0.4.3.20220107.dev66+ge09aea7) (2022.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from beautifulsoup4->snscrape==0.4.3.20220107.dev66+ge09aea7) (2.3.2.post1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev66+ge09aea7) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev66+ge09aea7) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev66+ge09aea7) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev66+ge09aea7) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev66+ge09aea7) (1.7.1)

  Running command git clone --filter=blob:none --quiet https://github.com/JustAnotherArchivist/snscrape.git 'C:\Users\90535\AppData\Local\Temp\pip-req-build-i3o99v1k'

I created a new environment and used Python version 3.8 to download the new version of the snscrape library.

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import numpy as np

Using the Snscrabe library, I collected the last 1000 tweets of Kemal Kılıçdaroğlu and Recep Tayyip Erdoğan in two different datasets. I got some important information under the name like_count, retweet_count, quote_count and reply_count.

In [9]:
# Creating list to append tweet data 
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:kilicdarogluk').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content,tweet.retweetCount,tweet.likeCount,tweet.replyCount,tweet.quoteCount,tweet.user.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df_kk = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id','Text','RetweetCount','LikeCount','ReplyCount','QuoeCount','Username'])

C:\Users\90535\AppData\Local\Temp\ipykernel_18768\3341005599.py:8: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content,tweet.retweetCount,tweet.likeCount,tweet.replyCount,tweet.quoteCount,tweet.user.username]) #declare the attributes to be returned

In [10]:
tweets_df_kk

,Datetime,Tweet Id,Text,RetweetCount,LikeCount,ReplyCount,QuoeCount,Username
0,2022-12-03 20:15:48+00:00,1599135334054387712,"Ekonomi ve endüstriyel dönüşüm alanlarında, Şa...",4033,30829,3747,443,kilicdarogluk
1,2022-12-03 11:13:56+00:00,1598998966607269888,Türkiye bunu hak ediyor... #İkinciYüzyılaÇağrı...,5330,26304,4562,648,kilicdarogluk
2,2022-12-03 09:47:26+00:00,1598977197930270720,Türkiye’nin ekonomide ve endüstriyel dönüşümde...,4360,30233,3430,440,kilicdarogluk
3,2022-11-30 13:56:56+00:00,1597952826352738306,3 Aralık. https://t.co/xuexd0AIRf,6921,41816,7241,1760,kilicdarogluk
4,2022-11-29 10:34:37+00:00,1597539520915775488,Partimizin TBMM Grup Toplantısı https://t.co/...,1306,5172,949,57,kilicdarogluk
...,...,...,...,...,...,...,...,...
996,2021-09-11 10:10:09+00:00,1436633150772367365,"İdlib’de, hain terör örgütü tarafından düzenle...",736,11005,388,58,kilicdarogluk
997,2021-09-11 08:51:00+00:00,1436613233876553731,Ege Sanayicileri ve İşinsanları Derneği Yüksek...,446,4071,155,10,kilicdarogluk
998,2021-09-10 17:06:02+00:00,1436375425542938625,Erdoğan kendi gerçeküstü dünyasında rekor üstü...,839,12599,466,28,kilicdarogluk
999,2021-09-09 13:29:02+00:00,1435958428095164418,"Gençlerimize verdiğim, ilk 6 ayda 6 vaadimden ...",2145,20379,1848,343,kilicdarogluk
1000,2021-09-09 08:11:48+00:00,1435878593205260292,Parti Meclisi Toplantısı Açılış Konuşması #CHP...,694,5939,239,16,kilicdarogluk

In [11]:
# Creating list to append tweet data 
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:RTErdogan').get_items()): #declare a username 
    if i>1000: #number of tweets you want to scrape
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content,tweet.retweetCount,tweet.likeCount,tweet.replyCount,tweet.quoteCount,tweet.user.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df_rte = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id','Text','RetweetCount','LikeCount','ReplyCount','QutoteCount','Username'])

C:\Users\90535\AppData\Local\Temp\ipykernel_18768\2615611452.py:8: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content,tweet.retweetCount,tweet.likeCount,tweet.replyCount,tweet.quoteCount,tweet.user.username]) #declare the attributes to be returned

In [12]:
tweets_df_rte

,Datetime,Tweet Id,Text,RetweetCount,LikeCount,ReplyCount,QutoteCount,Username
0,2022-12-03 17:47:14+00:00,1599097944266809344,2022’de hasat edilen pamuk ve ayçiçeği ürünler...,4374,13835,938,24,RTErdogan
1,2022-12-03 15:33:57+00:00,1599064404896542720,AK Parti Şanlıurfa Genişletilmiş İl Danışması ...,4909,15660,1480,50,RTErdogan
2,2022-12-03 15:25:00+00:00,1599062149552300034,Bereketli hilalin merkezi Şanlıurfa’nın verimi...,5036,16023,36633,35,RTErdogan
3,2022-12-03 15:10:00+00:00,1599058374750085124,"Şanlıurfa’nın son 20 yılda her talebine, her b...",4712,15937,856,28,RTErdogan
4,2022-12-03 14:55:09+00:00,1599054637910282241,"Bugün Şanlıurfa’da resmî açılışını yaptığımız,...",4476,14137,298,30,RTErdogan
...,...,...,...,...,...,...,...,...
996,2022-06-09 13:58:09+00:00,1534897641221509120,"Kılıçdaroğlu… \n\nCesaretin varsa, sen de kend...",8395,28563,2010,454,RTErdogan
997,2022-06-09 13:56:05+00:00,1534897121253642240,Kılıçdaroğlu… \n\nArtık kaçak güreşmeyi bırak....,6551,23982,434,92,RTErdogan
998,2022-06-09 13:54:14+00:00,1534896656017129474,Seçim meydanında karşımıza kimin çıkacağının b...,5930,21129,445,109,RTErdogan
999,2022-06-09 13:52:05+00:00,1534896115392315392,Ha bire “seçim tarihi belli olsun” diyor. İşte...,9019,32776,2298,692,RTErdogan
1000,2022-06-09 13:50:05+00:00,1534895611199234049,"Kılıçdaroğlu sorduğumuz sorulara, yaptığımız ç...",8634,36266,1871,169,RTErdogan

Below, I looked at the descriptive statistics values of the tweets I received from Kemal Kılıçdaroğlu and Tayyip Erdoğan. In general, the like, retweet, quote and reply numbers of their tweets were similar. Some of their tweets came out with more likes, quotes, retweets or replies than usual. That's why all these properties have a left-skewed distribution.

In [13]:
tweets_df_kk.describe()

           Tweet Id  RetweetCount      LikeCount    ReplyCount    QuoeCount
count  1.001000e+03   1001.000000    1001.000000   1001.000000  1001.000000
mean   1.522127e+18   2712.310689   24275.550450   1673.479520   311.913087
std    4.855780e+16   2905.908045   23346.120583   2051.871975   640.328781
min    1.435879e+18    192.000000    1634.000000     17.000000     2.000000
25%    1.476282e+18    986.000000    8894.000000    474.000000    40.000000
50%    1.528118e+18   1765.000000   17729.000000    951.000000   103.000000
75%    1.567838e+18   3240.000000   29740.000000   2057.000000   313.000000
max    1.599135e+18  28693.000000  198599.000000  19850.000000  6703.000000

In [14]:
tweets_df_rte.describe()

           Tweet Id  RetweetCount      LikeCount    ReplyCount  QutoteCount
count  1.001000e+03   1001.000000    1001.000000   1001.000000  1001.000000
mean   1.570215e+18   5756.871129   19372.486513   1181.575425    89.326673
std    1.755107e+16   2409.936141   10218.436000   2302.861110   296.184990
min    1.534896e+18   1751.000000    5083.000000     49.000000     2.000000
25%    1.558537e+18   4374.000000   13575.000000    318.000000    23.000000
50%    1.572266e+18   5376.000000   17170.000000    587.000000    43.000000
75%    1.584179e+18   6592.000000   21676.000000   1078.000000    81.000000
max    1.599098e+18  26434.000000  115459.000000  36633.000000  8309.000000

I used some preprocessing techniques below. I lower all the letters of the tweets I received. I deleted some special characters and deleted the links. Since I do not do sentiment analysis, I do not need to do much preprocessing.

In [15]:
tweets_df_kk["Text"] = tweets_df_kk["Text"].apply(lambda x: " ".join(x.lower() for x in x.split()))
tweets_df_rte["Text"] = tweets_df_rte["Text"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [16]:
tweets_df_kk["Text"] = tweets_df_kk["Text"].str.replace('(@\w+.*?)',"")
tweets_df_rte["Text"]  = tweets_df_rte["Text"] .str.replace('(@\w+.*?)',"")

C:\Users\90535\AppData\Local\Temp\ipykernel_18768\1065147865.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df_kk["Text"] = tweets_df_kk["Text"].str.replace('(@\w+.*?)',"")
C:\Users\90535\AppData\Local\Temp\ipykernel_18768\1065147865.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df_rte["Text"]  = tweets_df_rte["Text"] .str.replace('(@\w+.*?)',"")

In [17]:
import re

In [17]:
tweets_df_kk["Text"] = tweets_df_kk["Text"].apply(lambda x: re.sub(r'https?://[^\s\n\r]+', '', x))
tweets_df_rte["Text"] = tweets_df_rte["Text"].apply(lambda x: re.sub(r'https?://[^\s\n\r]+', '', x))

Below, I examined the tweets of these two accounts on two main topics. I filtered tweets containing words under the subject of economy and tweets containing words under the subject of terrorism. I examined the tweets of these two accounts under these two topics.

In [18]:
tweets_df_kk[tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")].describe()

           Tweet Id  RetweetCount      LikeCount    ReplyCount    QuoeCount
count  1.940000e+02    194.000000     194.000000    194.000000   194.000000
mean   1.526668e+18   2293.242268   22773.938144   1436.618557   244.984536
std    4.651338e+16   2227.870043   16450.999799   1595.422230   427.696257
min    1.436633e+18    461.000000    4931.000000     87.000000     6.000000
25%    1.480107e+18    873.250000   11173.250000    468.750000    41.250000
50%    1.533788e+18   1497.000000   17718.500000    805.000000    88.500000
75%    1.567567e+18   2585.750000   28042.000000   1694.750000   248.500000
max    1.596768e+18  13081.000000  103530.000000  10297.000000  3575.000000

In [19]:
tweets_df_rte[tweets_df_rte["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")].describe()

           Tweet Id  RetweetCount     LikeCount    ReplyCount  QutoteCount
count  1.140000e+02    114.000000    114.000000    114.000000   114.000000
mean   1.567970e+18   5537.728070  19156.175439    836.456140    54.982456
std    1.815835e+16   1952.021273   8160.929088   1432.196593    66.610608
min    1.534968e+18   2640.000000   7601.000000     75.000000     3.000000
25%    1.554401e+18   4358.500000  13582.000000    216.000000    16.250000
50%    1.568408e+18   5120.000000  17320.500000    564.500000    36.000000
75%    1.581267e+18   6580.750000  22280.000000    852.250000    64.750000
max    1.598347e+18  15829.000000  43161.000000  12317.000000   417.000000

In [20]:
tweets_df_kk[tweets_df_kk["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")].describe()

           Tweet Id  RetweetCount      LikeCount    ReplyCount    QuoeCount
count  1.370000e+02    137.000000     137.000000    137.000000   137.000000
mean   1.527802e+18   3950.883212   33252.452555   2200.766423   480.605839
std    5.136628e+16   3598.903399   28839.284741   2548.589876   995.997773
min    1.436733e+18    602.000000    4908.000000    116.000000    14.000000
25%    1.477581e+18   1819.000000   16928.000000    546.000000    78.000000
50%    1.538248e+18   2715.000000   24854.000000   1404.000000   189.000000
75%    1.571751e+18   4662.000000   39975.000000   2988.000000   409.000000
max    1.599135e+18  25603.000000  198599.000000  18072.000000  6703.000000

In [21]:
tweets_df_rte[tweets_df_rte["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")].describe()

           Tweet Id  RetweetCount     LikeCount    ReplyCount  QutoteCount
count  1.080000e+02    108.000000    108.000000    108.000000   108.000000
mean   1.570449e+18   5738.990741  18934.574074   1610.907407    77.287037
std    1.792101e+16   2196.090088   8347.757643   4129.341407   119.855602
min    1.534968e+18   2284.000000   6822.000000     74.000000     3.000000
25%    1.557319e+18   4291.750000  13228.000000    247.750000    20.750000
50%    1.570090e+18   5471.000000  17274.500000    494.000000    37.000000
75%    1.586111e+18   6845.000000  22644.750000   1153.750000    69.500000
max    1.599098e+18  13175.000000  52965.000000  36633.000000   706.000000

In [22]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (1.9.3)
Requirement already satisfied: numpy<1.26.0,>=1.18.5 in c:\users\90535\anaconda3\envs\homework2\lib\site-packages (from scipy) (1.23.5)

In [23]:
from scipy.stats import shapiro, levene, ttest_ind, mannwhitneyu

My two research questions were:
1)Is there a difference between the number of likes received by these two accounts' normal tweets and the number of likes of their tweets on these two topics?
2)Is there a difference between the number of likes received by the tweets of these two accounts under these topics?
In other words, I looked at the differences between themselves in the first and among themselves in the second.

First I used the shapiro test to see if they have a normal distribution.

In [24]:
test_stat, pvalue = shapiro(tweets_df_kk.loc[~(tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.7396, p-value = 0.0000

In [25]:
test_stat, pvalue = shapiro(tweets_df_kk.loc[(tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.8253, p-value = 0.0000

Since the distribution of the number of likes of Kemal Kılıçdaroğlu's tweets, which are related to and not related to terrorism, did not appear to be similar to the normal distribution, I used a Matt Whitneyu test.

In [26]:
res = mannwhitneyu(tweets_df_kk.loc[~(tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"], tweets_df_kk.loc[(tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print(res)

MannwhitneyuResult(statistic=73370.5, pvalue=0.17463841023982318)

There are no difference between these two samples according to test.

In [29]:
test_stat, pvalue = shapiro(tweets_df_rte.loc[~(tweets_df_rte["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.7400, p-value = 0.0000

In [30]:
test_stat, pvalue = shapiro(tweets_df_rte.loc[(tweets_df_rte["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.9124, p-value = 0.0000

In [31]:
res = mannwhitneyu(tweets_df_rte.loc[~(tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"], tweets_df_rte.loc[(tweets_df_rte["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print(res)

MannwhitneyuResult(statistic=44991.0, pvalue=0.7047254258530257)

There are no difference in the number of likes between the rest of the tweets of Recep Tayyip Erdoğan above and those related to terrorism.

In [32]:
test_stat, pvalue = shapiro(tweets_df_kk.loc[~(tweets_df_kk["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.7516, p-value = 0.0000

In [33]:
test_stat, pvalue = shapiro(tweets_df_kk.loc[(tweets_df_kk["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.7171, p-value = 0.0000

In [34]:
res = mannwhitneyu(tweets_df_kk.loc[~(tweets_df_kk["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"], tweets_df_kk.loc[(tweets_df_kk["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print(res)

MannwhitneyuResult(statistic=39746.5, pvalue=6.306737281264554e-10)

The number of likes received by Kemal Kılıçdaroğlu's tweets related to the economy was different from the number of likes received by his non-economic tweets. When we look at the values, we can see that these tweets get more likes.

In [35]:
test_stat, pvalue = shapiro(tweets_df_rte.loc[~(tweets_df_rte["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.7424, p-value = 0.0000

In [36]:
test_stat, pvalue = shapiro(tweets_df_rte.loc[(tweets_df_rte["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))

Test Stat = 0.9079, p-value = 0.0000

In [37]:
res = mannwhitneyu(tweets_df_rte.loc[~(tweets_df_rte["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"], tweets_df_rte.loc[(tweets_df_rte["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print(res)

MannwhitneyuResult(statistic=48065.0, pvalue=0.9560201753310964)

It was seen that the number of likes received by Tayyip Erdoğan's tweets related to the economy was not different from the number of likes received by his tweets that were not related to the economy.

In [38]:
res = mannwhitneyu(tweets_df_kk.loc[(tweets_df_kk["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"], tweets_df_rte.loc[(tweets_df_rte["Text"].str.contains("ekonomi|zam|vergi|enflasyon|ücret|rahmetli|maaş|asgari|pahalı|para|faiz|üretim|piyasa|borsa")), "LikeCount"])
print(res)

MannwhitneyuResult(statistic=10150.5, pvalue=5.826354037034689e-07)

It turned out that the number of likes received by Kemal Kılıçdaroğlu's tweets related to the economy was different from the number of likes of Tayyip Erdoğan's tweets related to the economy. When we look at the values, it is seen that Kemal Kılıçdaroğlu's tweets on this subject are getting more likes.

In [39]:
res = mannwhitneyu(tweets_df_kk.loc[(tweets_df_kk["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"], tweets_df_rte.loc[(tweets_df_rte["Text"].str.contains("terör|şehit|başsağlığı|harekat|savaş|rahmetli|operasyon|acı|asker|hain|PKK|PYD|FETÖ|YPG|güvenlik")), "LikeCount"])
print(res)

MannwhitneyuResult(statistic=11177.0, pvalue=0.8752229553335366)

It was seen that the number of likes received by Kemal Kılıçdaroğlu's tweets related to terrorism was not different from the number of likes of Tayyip Erdoğan's tweets related to terrorism.

I think talking about the economy will win the election :)